body {
  font-family: "Times New Roman", Times, serif;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  color: blue;
  background-color: rgb(55, 54, 57);
}

#navBar h1 {
  cursor: grab;
  width: 25%;
  color: green;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 70%;
  align-items: flex-end;
  justify-content: space-evenly;
}

#navigation p {
  cursor: grab;
  text-decoration: underline;
}

.highlights {
  color: red;
  font-weight: 700;
}


#herogrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
  "mypic secondPic" 
  "mypic thirdPic";
}
********
#mypic {
  grid-area: mypic;
  background-image: url(..assets/images/02-portfolio-4.jpg);
}

#secondPic {
  grid-area: secondPic;
  background-image: url(assets/images/02-portfolio-2.jpg);
}

#thirdPic {
  grid-area: thirdPic;
  background-image: url(assets/images/02-portfolio-2.jpg);
  justify-content: space-around;
  cursor: pointer;
}

#myinfo {
  background-color: aquamarine;
  border-bottom: 5px solid red;
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

#myPicArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

