body {
  font-family: "Times New Roman", Times, serif;
}
section {
    padding: 35px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 50px;
    align-items: center;
    background-color: rgb(55, 54, 57);
}

.navBar {
  display: block;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-clr);
  height: 100%;
}
#navBar h1 {
  cursor: grab;
  width: 25%;
  color: green;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  list-style: none;
}

#navigation p {
  cursor: grab;
  text-decoration: underline;
}



h1 a {
    color: #000;
}

header nav ul li a:hover  {
    border-bottom : none;
    color: #000;
}

.hero {
    background: url(../images/02-hero-bg.jpg);
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero img {
    width: 250px;
}

.picture {
    width: 100%;
    text-align: right;
}

.hero h2 {
    color: white;  
}


/* About Me */

.about-me h2 {
    font-size: xx-large;
    color: var(--secondary-color);
    border-right: var(--secondary-color) solid 3px;
    padding: 0 15px;
    text-align: right;
}
.about-me {
    flex: 1 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
     margin-bottom: 15px;
}
.content {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%
}













/* 



#navBar h1 {
  cursor: grab;
  width: 25%;
  color: green;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: right;
}

#navigation p {
  cursor: grab;
  text-decoration: underline;
}

.highlights {
  color: red;
  font-weight: 700;
}


#herogrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
  "mypic secondPic" 
  "mypic thirdPic";
}
********
#mypic {
  grid-area: mypic;
  background-image: url(..assets/images/02-portfolio-4.jpg);
}

#secondPic {
  grid-area: secondPic;
  background-image: url(assets/images/02-portfolio-2.jpg);
}

#thirdPic {
  grid-area: thirdPic;
  background-image: url(assets/images/02-portfolio-2.jpg);
  justify-content: space-around;
  cursor: pointer;
}

#myinfo {
  background-color: aquamarine;
  border-bottom: 5px solid red;
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

#myPicArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
} */

