body {
  font-family: "Times New Roman", Times, serif;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  color: blue;
}

#navBar h1 {
  cursor: grab;
  width: 25%;
  color: green;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 70%;
  align-items: flex-end;
  justify-content: space-evenly;
}

#navigation p {
  cursor: grab;
  text-decoration: underline;
}

.highlights {
  color: red;
  font-weight: 700;
}
